/* PrimeIcons */
@import 'primeicons/primeicons.css';

/* CSS Layer 설정 - PrimeVue + Tailwind 연동 */
@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

